Repository hashgraph/hedera-json-rpc-relay, changes with the owners that .github/CODEOWNERS names for each.
All owners: @hashgraph/hedera-smart-contracts, @AlfredoG87, @ebadiere, @lukelee-sl, @Nana-EC, @georgi-l95, @Ivo-Yankov, @hashgraph/release-engineering, @hashgraph/release-engineering-managers

fix: 2561 release automation cannot find npm (#2564)
  .github/workflows/release-automation.yml
Owners: @hashgraph/release-engineering, @hashgraph/release-engineering-managers, @AlfredoG87, @ebadiere, @Nana-EC, @hashgraph/hedera-smart-contracts

Updated release flows to setup-node and setup make before calling npm ci
  .github/workflows/release-acceptance.yml
  .github/workflows/release-automation.yml
  .github/workflows/release-production.yml
Owners: @hashgraph/release-engineering, @hashgraph/release-engineering-managers, @AlfredoG87, @ebadiere, @Nana-EC, @hashgraph/hedera-smart-contracts

fix: Added panels.
  grafana/dashboards/websocketServer/webSocketServer.json
Owners: @hashgraph/hedera-smart-contracts

fix: Updated release flows to setup-node and setup make before calling npm ci (#2565)
  .github/workflows/release-acceptance.yml
  .github/workflows/release-automation.yml
  .github/workflows/release-production.yml
Owners: @hashgraph/release-engineering, @hashgraph/release-engineering-managers, @AlfredoG87, @ebadiere, @Nana-EC, @hashgraph/hedera-smart-contracts

Bump versions for v0.49.0-rc1
  README.md
  charts/hedera-json-rpc-relay-websocket/Chart.yaml
  charts/hedera-json-rpc-relay/Chart.yaml
  docker-compose.yml
  docs/openrpc.json
  package-lock.json
  packages/relay/package.json
  packages/server/package.json
  packages/ws-server/package.json
Owners: @hashgraph/release-engineering, @hashgraph/release-engineering-managers, @AlfredoG87, @ebadiere, @Nana-EC, @hashgraph/hedera-smart-contracts, @lukelee-sl, @georgi-l95, @Ivo-Yankov

Update index.yaml
  index.yaml
Owners: @hashgraph/hedera-smart-contracts

fix: Updated release flows to setup-node and setup make before calling npm ci (#2565)
  .github/workflows/release-acceptance.yml
  .github/workflows/release-automation.yml
  .github/workflows/release-production.yml
Owners: @hashgraph/release-engineering, @hashgraph/release-engineering-managers, @AlfredoG87, @ebadiere, @Nana-EC, @hashgraph/hedera-smart-contracts

fix: Added more panels.
  grafana/dashboards/websocketServer/webSocketServer.json
Owners: @hashgraph/hedera-smart-contracts

[Snyk] Upgrade @hashgraph/hedera-local from 2.23.0 to 2.24.0 (#2554)
  package-lock.json
  package.json
Owners: @hashgraph/hedera-smart-contracts

fix: Rebuilt package-lock.json
  package-lock.json
Owners: @hashgraph/hedera-smart-contracts

fix: update helm chart release action (#2555)
  .github/workflows/release-production.yml
  scripts/.bump-version.js
Owners: @hashgraph/release-engineering, @hashgraph/release-engineering-managers, @AlfredoG87, @ebadiere, @Nana-EC, @hashgraph/hedera-smart-contracts

chore: fix validation
  packages/relay/src/lib/clients/mirrorNodeClient.ts
  packages/relay/src/lib/services/debugService/index.ts
  packages/server/src/server.ts
  packages/server/src/validator/types.ts
Owners: @AlfredoG87, @ebadiere, @lukelee-sl, @hashgraph/hedera-smart-contracts, @Nana-EC

fix: 2560 include workflow updates in release branch (#2569)
  .github/workflows/release-acceptance.yml
  .github/workflows/release-automation.yml
  .github/workflows/release-production.yml
Owners: @hashgraph/release-engineering, @hashgraph/release-engineering-managers, @AlfredoG87, @ebadiere, @Nana-EC, @hashgraph/hedera-smart-contracts

Bump versions for v0.49.0-rc2
  charts/hedera-json-rpc-relay-websocket/Chart.yaml
  charts/hedera-json-rpc-relay/Chart.yaml
  docker-compose.yml
  docs/openrpc.json
  package-lock.json
  packages/relay/package.json
  packages/server/package.json
  packages/ws-server/package.json
Owners: @hashgraph/hedera-smart-contracts, @AlfredoG87, @ebadiere, @lukelee-sl, @Nana-EC, @georgi-l95, @Ivo-Yankov

Update index.yaml
  index.yaml
Owners: @hashgraph/hedera-smart-contracts

fix: fixed condition to employ HFS in submitEthereumTransaction()
  packages/relay/src/lib/clients/sdkClient.ts
  packages/server/tests/acceptance/rpc_batch1.spec.ts
Owners: @AlfredoG87, @ebadiere, @lukelee-sl, @hashgraph/hedera-smart-contracts, @Nana-EC

fix: Bump PR
  charts/hedera-json-rpc-relay-websocket/Chart.yaml
  charts/hedera-json-rpc-relay/Chart.yaml
  docs/openrpc.json
  package-lock.json
  packages/relay/package.json
  packages/server/package.json
  packages/ws-server/package.json
Owners: @hashgraph/hedera-smart-contracts, @AlfredoG87, @ebadiere, @lukelee-sl, @Nana-EC, @georgi-l95, @Ivo-Yankov

fix: fixed condition to employ HFS in submitEthereumTransaction() (#2566)
  packages/relay/src/lib/clients/sdkClient.ts
  packages/server/tests/acceptance/rpc_batch1.spec.ts
Owners: @AlfredoG87, @ebadiere, @lukelee-sl, @hashgraph/hedera-smart-contracts, @Nana-EC

fix: fixed condition to employ HFS in submitEthereumTransaction() (#2566)
  packages/relay/src/lib/clients/sdkClient.ts
  packages/server/tests/acceptance/rpc_batch1.spec.ts
Owners: @AlfredoG87, @ebadiere, @lukelee-sl, @hashgraph/hedera-smart-contracts, @Nana-EC

fix: Trigger another build to run the DCO.
  packages/ws-server/package.json
Owners: @AlfredoG87, @ebadiere, @georgi-l95, @Ivo-Yankov, @hashgraph/hedera-smart-contracts

chore: cherry pick PR#2566 (#2573)
  packages/relay/src/lib/clients/sdkClient.ts
  packages/server/tests/acceptance/rpc_batch1.spec.ts
Owners: @AlfredoG87, @ebadiere, @lukelee-sl, @hashgraph/hedera-smart-contracts, @Nana-EC

build: Bump versions for v0.50.0-SNAPSHOT (#2572)
  charts/hedera-json-rpc-relay-websocket/Chart.yaml
  charts/hedera-json-rpc-relay/Chart.yaml
  docs/openrpc.json
  package-lock.json
  packages/relay/package.json
  packages/server/package.json
  packages/ws-server/package.json
Owners: @hashgraph/hedera-smart-contracts, @AlfredoG87, @ebadiere, @lukelee-sl, @Nana-EC, @georgi-l95, @Ivo-Yankov

Bump versions for v0.49.0-rc3
  charts/hedera-json-rpc-relay-websocket/Chart.yaml
  charts/hedera-json-rpc-relay/Chart.yaml
  docker-compose.yml
  docs/openrpc.json
  package-lock.json
  packages/relay/package.json
  packages/server/package.json
  packages/ws-server/package.json
Owners: @hashgraph/hedera-smart-contracts, @AlfredoG87, @ebadiere, @lukelee-sl, @Nana-EC, @georgi-l95, @Ivo-Yankov

Update index.yaml
  index.yaml
Owners: @hashgraph/hedera-smart-contracts

Updated equivalence tests
  packages/server/tests/acceptance/equivalence.spec.ts
  packages/server/tests/acceptance/estimateGasPrecompile.spec.ts
Owners: @AlfredoG87, @ebadiere, @Nana-EC, @hashgraph/hedera-smart-contracts

code cleanup
  packages/server/tests/acceptance/equivalence.spec.ts
  packages/server/tests/acceptance/index.spec.ts
  packages/server/tests/clients/servicesClient.ts
  packages/server/tests/helpers/constants.ts
Owners: @AlfredoG87, @ebadiere, @Nana-EC, @hashgraph/hedera-smart-contracts

chore: final touches
  packages/relay/src/lib/services/debugService/IDebugService.ts
  packages/relay/src/lib/services/debugService/index.ts
  packages/server/src/server.ts
  packages/server/src/validator/constants.ts
  packages/server/src/validator/methods.ts
  packages/server/src/validator/types.ts
Owners: @AlfredoG87, @ebadiere, @lukelee-sl, @hashgraph/hedera-smart-contracts, @Nana-EC

fix: error message in param validations
  packages/server/src/validator/utils.ts
Owners: @AlfredoG87, @ebadiere, @Nana-EC, @hashgraph/hedera-smart-contracts

test: fix expected error message in server.spec.ts
  packages/server/src/validator/utils.ts
  packages/server/tests/helpers/assertions.ts
  packages/server/tests/integration/server.spec.ts
Owners: @AlfredoG87, @ebadiere, @Nana-EC, @hashgraph/hedera-smart-contracts

feat: Fix paths in Readme.
  tools/hardhat-viem-example/README.md
Owners: @georgi-l95, @Ivo-Yankov, @hashgraph/hedera-smart-contracts

feat: Golang example.
  tools/golang-example/.env.sample
  tools/golang-example/.gitignore
  tools/golang-example/README.md
  tools/golang-example/contracts/Greeter.go
  tools/golang-example/contracts/Greeter.sol
  tools/golang-example/go.mod
  tools/golang-example/go.sum
  tools/golang-example/main.go
  tools/golang-example/main_test.go
  tools/golang-example/utils.go
Owners: @georgi-l95, @Ivo-Yankov, @hashgraph/hedera-smart-contracts, @hashgraph/release-engineering, @hashgraph/release-engineering-managers, @AlfredoG87, @ebadiere, @Nana-EC

feat: Rpc methods WIP.
  tools/json-rpc-golang-tests/test_rpc_methods.go
Owners: @georgi-l95, @Ivo-Yankov, @hashgraph/hedera-smart-contracts

fix: get correct gas price for different network environments in getTransactionCount.spec.ts
  packages/ws-server/tests/acceptance/getTransactionCount.spec.ts
Owners: @AlfredoG87, @ebadiere, @georgi-l95, @Ivo-Yankov, @hashgraph/hedera-smart-contracts

fix: fixed deploy contract logic in estimateGas.spec.ts
  packages/ws-server/tests/acceptance/estimateGas.spec.ts
Owners: @AlfredoG87, @ebadiere, @georgi-l95, @Ivo-Yankov, @hashgraph/hedera-smart-contracts

fix: filtered acceptance tests for release testing
  packages/ws-server/tests/acceptance/batchRequest.spec.ts
  packages/ws-server/tests/acceptance/blockNumber.spec.ts
  packages/ws-server/tests/acceptance/call.spec.ts
  packages/ws-server/tests/acceptance/estimateGas.spec.ts
  packages/ws-server/tests/acceptance/gasPrice.spec.ts
  packages/ws-server/tests/acceptance/getBalance.spec.ts
  packages/ws-server/tests/acceptance/getBlockByHash.spec.ts
  packages/ws-server/tests/acceptance/getBlockByNumber.spec.ts
  packages/ws-server/tests/acceptance/getCode.spec.ts
  packages/ws-server/tests/acceptance/getLogs.spec.ts
  packages/ws-server/tests/acceptance/getStorageAt.spec.ts
  packages/ws-server/tests/acceptance/getTransactionByHash.spec.ts
  packages/ws-server/tests/acceptance/getTransactionCount.spec.ts
  packages/ws-server/tests/acceptance/getTransactionReceipt.spec.ts
  packages/ws-server/tests/acceptance/newFilter.spec.ts
  packages/ws-server/tests/acceptance/rateLimiter.spec.ts
  packages/ws-server/tests/acceptance/sendRawTransaction.spec.ts
  packages/ws-server/tests/acceptance/subscribe.spec.ts
  packages/ws-server/tests/acceptance/subscribeNewHeads.spec.ts
  packages/ws-server/tests/acceptance/validations.spec.ts
  packages/ws-server/tests/acceptance/web3ClientVersion.spec.ts
  packages/ws-server/tests/helper/index.ts
Owners: @AlfredoG87, @ebadiere, @georgi-l95, @Ivo-Yankov, @hashgraph/hedera-smart-contracts

fix: Added panels.
  grafana/dashboards/websocketServer/webSocketServer.json
Owners: @hashgraph/hedera-smart-contracts

fix: filtered acceptance tests for release testing (#2577)
  packages/ws-server/tests/acceptance/batchRequest.spec.ts
  packages/ws-server/tests/acceptance/blockNumber.spec.ts
  packages/ws-server/tests/acceptance/call.spec.ts
  packages/ws-server/tests/acceptance/estimateGas.spec.ts
  packages/ws-server/tests/acceptance/gasPrice.spec.ts
  packages/ws-server/tests/acceptance/getBalance.spec.ts
  packages/ws-server/tests/acceptance/getBlockByHash.spec.ts
  packages/ws-server/tests/acceptance/getBlockByNumber.spec.ts
  packages/ws-server/tests/acceptance/getCode.spec.ts
  packages/ws-server/tests/acceptance/getLogs.spec.ts
  packages/ws-server/tests/acceptance/getStorageAt.spec.ts
  packages/ws-server/tests/acceptance/getTransactionByHash.spec.ts
  packages/ws-server/tests/acceptance/getTransactionCount.spec.ts
  packages/ws-server/tests/acceptance/getTransactionReceipt.spec.ts
  packages/ws-server/tests/acceptance/newFilter.spec.ts
  packages/ws-server/tests/acceptance/rateLimiter.spec.ts
  packages/ws-server/tests/acceptance/sendRawTransaction.spec.ts
  packages/ws-server/tests/acceptance/subscribe.spec.ts
  packages/ws-server/tests/acceptance/subscribeNewHeads.spec.ts
  packages/ws-server/tests/acceptance/validations.spec.ts
  packages/ws-server/tests/acceptance/web3ClientVersion.spec.ts
  packages/ws-server/tests/helper/index.ts
Owners: @AlfredoG87, @ebadiere, @georgi-l95, @Ivo-Yankov, @hashgraph/hedera-smart-contracts

doc: updated openrpc specification
  docs/openrpc.json
Owners: @hashgraph/hedera-smart-contracts

feat: Review requests
  tools/hardhat-viem-example/contracts/Greeter.sol
  tools/hardhat-viem-example/scripts/contractCall.js
  tools/hardhat-viem-example/scripts/contractViewCall.js
  tools/hardhat-viem-example/scripts/deployContract.js
  tools/hardhat-viem-example/scripts/showBalance.js
  tools/hardhat-viem-example/test/rpc.js
Owners: @georgi-l95, @Ivo-Yankov, @hashgraph/hedera-smart-contracts

feat: Go - JSON RPC Api tests
  tools/golang-example/.env.sample
  tools/golang-example/getTransaction/index.php
  tools/golang-example/getTransaction/main.go
  tools/json-rpc-golang-tests/.env.sample
  tools/json-rpc-golang-tests/go.mod
  tools/json-rpc-golang-tests/go.sum
  tools/json-rpc-golang-tests/main.go
Owners: @georgi-l95, @Ivo-Yankov, @hashgraph/hedera-smart-contracts

.github/CODEOWNERS:

###################################
##### Global Protection Rule ######
###################################
# NOTE: This rule is overriden by the more specific rules below. This is the catch-all rule for all files not covered by the more specific rules below
*                                               @hashgraph/hedera-smart-contracts

#########################
##### Hedera Relay ######
#########################
/packages/relay/                                @AlfredoG87 @ebadiere @lukelee-sl @hashgraph/hedera-smart-contracts
/packages/server/                               @AlfredoG87 @ebadiere @Nana-EC @hashgraph/hedera-smart-contracts
/packages/ws-server/                            @AlfredoG87 @ebadiere @georgi-l95 @Ivo-Yankov @hashgraph/hedera-smart-contracts

###############################
##### Tools and Examples ######
###############################
/dapp-example/                                  @georgi-l95 @Ivo-Yankov @hashgraph/hedera-smart-contracts
/k6/                                            @AlfredoG87 @hashgraph/hedera-smart-contracts
/tools/                                         @georgi-l95 @Ivo-Yankov @hashgraph/hedera-smart-contracts

########################
#####  Core Files  ######
#########################

# NOTE: Must be placed last to ensure enforcement over all other rules

# Protection Rules for Github Configuration Files and Actions Workflows
/.github/                                       @hashgraph/release-engineering @hashgraph/release-engineering-managers
/.github/workflows/                             @hashgraph/release-engineering @hashgraph/release-engineering-managers @AlfredoG87 @ebadiere @Nana-EC @hashgraph/hedera-smart-contracts

# Self-protection for root CODEOWNERS files (this file should not exist and should definitely require approval)
/CODEOWNERS                                     @hashgraph/release-engineering @hashgraph/release-engineering-managers

# Protect the repository root files
/README.md                                      @hashgraph/release-engineering @hashgraph/release-engineering-managers @AlfredoG87 @ebadiere @Nana-EC @hashgraph/hedera-smart-contracts
**/LICENSE                                      @hashgraph/release-engineering @hashgraph/release-engineering-managers

# Git Ignore definitions
**/.gitignore                                   @hashgraph/release-engineering @hashgraph/release-engineering-managers @AlfredoG87 @ebadiere @Nana-EC @hashgraph/hedera-smart-contracts
**/.gitignore.*                                 @hashgraph/release-engineering @hashgraph/release-engineering-managers @AlfredoG87 @ebadiere @Nana-EC @hashgraph/hedera-smart-contracts
