Repository hashgraph/hedera-json-rpc-relay, changes with the owners that .github/CODEOWNERS names for each.
All owners: @hashgraph/hedera-smart-contracts-product, @AlfredoG87, @ebadiere, @lukelee-sl, @Nana-EC, @georgi-l95, @Ivo-Yankov, @hashgraph/devops-ci, @hashgraph/devops-ci-committers, @hashgraph/release-engineering, @hashgraph/release-engineering-managers

.github/CODEOWNERS:

###################################
##### Global Protection Rule ######
###################################
# NOTE: This rule is overriden by the more specific rules below. This is the catch-all rule for all files not covered by the more specific rules below
*                                               @hashgraph/hedera-smart-contracts-product

#########################
##### Hedera Relay ######
#########################
/packages/relay/                                @AlfredoG87 @ebadiere @lukelee-sl @hashgraph/hedera-smart-contracts-product
/packages/server/                               @AlfredoG87 @ebadiere @Nana-EC @hashgraph/hedera-smart-contracts-product
/packages/ws-server/                            @AlfredoG87 @ebadiere @georgi-l95 @Ivo-Yankov @hashgraph/hedera-smart-contracts-product

###############################
##### Tools and Examples ######
###############################
/dapp-example/                                  @georgi-l95 @Ivo-Yankov @hashgraph/hedera-smart-contracts-product
/k6/                                            @AlfredoG87 @hashgraph/hedera-smart-contracts-product
/tools/                                         @georgi-l95 @Ivo-Yankov @hashgraph/hedera-smart-contracts-product

########################
#####  Core Files  ######
#########################

# NOTE: Must be placed last to ensure enforcement over all other rules

# Protection Rules for Github Configuration Files and Actions Workflows
/.github/                                       @hashgraph/devops-ci @hashgraph/devops-ci-committers @hashgraph/release-engineering @hashgraph/release-engineering-managers
/.github/workflows/                             @hashgraph/devops-ci @hashgraph/devops-ci-committers @hashgraph/release-engineering @hashgraph/release-engineering-managers @AlfredoG87 @ebadiere @Nana-EC @hashgraph/hedera-smart-contracts-product

# Self-protection for root CODEOWNERS files (this file should not exist and should definitely require approval)
/CODEOWNERS                                     @hashgraph/release-engineering @hashgraph/release-engineering-managers

# Protect the repository root files
/README.md                                      @hashgraph/release-engineering @hashgraph/release-engineering-managers @AlfredoG87 @ebadiere @Nana-EC @hashgraph/hedera-smart-contracts-product
**/LICENSE                                      @hashgraph/release-engineering @hashgraph/release-engineering-managers

# Git Ignore definitions
**/.gitignore                                   @hashgraph/release-engineering @hashgraph/release-engineering-managers @AlfredoG87 @ebadiere @Nana-EC @hashgraph/hedera-smart-contracts-product
**/.gitignore.*                                 @hashgraph/release-engineering @hashgraph/release-engineering-managers @AlfredoG87 @ebadiere @Nana-EC @hashgraph/hedera-smart-contracts-product

fix: upgrade @graphprotocol/graph-cli from 0.85.0 to 0.86.0
  tools/subgraph-example/subgraph/package.json
Owners: @georgi-l95, @Ivo-Yankov, @hashgraph/hedera-smart-contracts-product

Bump versions for v0.59.0
  charts/hedera-json-rpc-relay-websocket/Chart.yaml
  charts/hedera-json-rpc-relay/Chart.yaml
  charts/hedera-json-rpc/Chart.yaml
  docker-compose.yml
  docs/openrpc.json
  package-lock.json
  packages/config-service/package.json
  packages/relay/package.json
  packages/server/package.json
  packages/ws-server/package.json
Owners: @hashgraph/hedera-smart-contracts-product, @AlfredoG87, @ebadiere, @lukelee-sl, @Nana-EC, @georgi-l95, @Ivo-Yankov

Publish hedera-json-rpc-0.59.0.tgz hedera-json-rpc-relay-0.59.0.tgz hedera-json-rpc-relay-websocket-0.59.0.tgz
  charts/hedera-json-rpc-0.59.0.tgz
  charts/hedera-json-rpc-relay-0.59.0.tgz
  charts/hedera-json-rpc-relay-websocket-0.59.0.tgz
  charts/index.yaml
Owners: @hashgraph/hedera-smart-contracts-product

build(deps): [Snyk] Upgrade @graphprotocol/graph-cli from 0.85.0 to 0.86.0 (#3206)
  tools/subgraph-example/subgraph/package.json
Owners: @georgi-l95, @Ivo-Yankov, @hashgraph/hedera-smart-contracts-product

build(deps): [Snyk] Upgrade ethers from 6.13.3 to 6.13.4 (#3205)
  k6/package-lock.json
  k6/package.json
Owners: @AlfredoG87, @hashgraph/hedera-smart-contracts-product

test: added e2e tests for multiple users across various tiers
  packages/server/tests/acceptance/hbarLimiter.spec.ts
Owners: @AlfredoG87, @ebadiere, @Nana-EC, @hashgraph/hedera-smart-contracts-product

fix: Adds retry to send raw transaction (#3161)
  packages/relay/src/lib/clients/sdkClient.ts
  packages/relay/src/lib/errors/SDKClientError.ts
  packages/relay/src/lib/services/hapiService/hapiService.ts
  packages/relay/tests/lib/eth/eth_sendRawTransaction.spec.ts
  packages/relay/tests/lib/sdkClient.spec.ts
  packages/relay/tests/lib/services/metricService/metricService.spec.ts
Owners: @AlfredoG87, @ebadiere, @lukelee-sl, @hashgraph/hedera-smart-contracts-product

fix: updated createAliasAndAssociateSpendingPlan to accept accountCounts
  packages/server/tests/acceptance/hbarLimiter.spec.ts
Owners: @AlfredoG87, @ebadiere, @Nana-EC, @hashgraph/hedera-smart-contracts-product

fix: added coverage to confirm multiple accounts in the same plan share the same budget
  packages/server/tests/acceptance/hbarLimiter.spec.ts
Owners: @AlfredoG87, @ebadiere, @Nana-EC, @hashgraph/hedera-smart-contracts-product

fix: Adds retry to send raw transaction (#3161) (#3208)
  packages/relay/src/lib/clients/sdkClient.ts
  packages/relay/src/lib/errors/SDKClientError.ts
  packages/relay/src/lib/services/hapiService/hapiService.ts
  packages/relay/tests/lib/eth/eth_sendRawTransaction.spec.ts
  packages/relay/tests/lib/sdkClient.spec.ts
  packages/relay/tests/lib/services/metricService/metricService.spec.ts
Owners: @AlfredoG87, @ebadiere, @lukelee-sl, @hashgraph/hedera-smart-contracts-product

Bump versions for v0.59.1
  charts/hedera-json-rpc-relay-websocket/Chart.yaml
  charts/hedera-json-rpc-relay/Chart.yaml
  charts/hedera-json-rpc/Chart.yaml
  docker-compose.yml
  docs/openrpc.json
  package-lock.json
  packages/config-service/package.json
  packages/relay/package.json
  packages/server/package.json
  packages/ws-server/package.json
Owners: @hashgraph/hedera-smart-contracts-product, @AlfredoG87, @ebadiere, @lukelee-sl, @Nana-EC, @georgi-l95, @Ivo-Yankov

Publish hedera-json-rpc-0.59.1.tgz hedera-json-rpc-relay-0.59.1.tgz hedera-json-rpc-relay-websocket-0.59.1.tgz
  charts/hedera-json-rpc-0.59.1.tgz
  charts/hedera-json-rpc-relay-0.59.1.tgz
  charts/hedera-json-rpc-relay-websocket-0.59.1.tgz
  charts/index.yaml
Owners: @hashgraph/hedera-smart-contracts-product

fix: added null check for nullable values in formatContractResult()
  packages/relay/src/formatters.ts
  packages/relay/tests/lib/formatters.spec.ts
Owners: @AlfredoG87, @ebadiere, @lukelee-sl, @hashgraph/hedera-smart-contracts-product

fix: fixed unit tests
  packages/relay/tests/lib/eth/eth_getTransactionByBlockHashAndIndex.spec.ts
  packages/relay/tests/lib/eth/eth_getTransactionByBlockNumberAndIndex.spec.ts
Owners: @AlfredoG87, @ebadiere, @lukelee-sl, @hashgraph/hedera-smart-contracts-product

fix: added null check for nullable values in formatContractResult() (#3210)
  packages/relay/src/formatters.ts
  packages/relay/tests/lib/eth/eth_getTransactionByBlockHashAndIndex.spec.ts
  packages/relay/tests/lib/eth/eth_getTransactionByBlockNumberAndIndex.spec.ts
  packages/relay/tests/lib/formatters.spec.ts
Owners: @AlfredoG87, @ebadiere, @lukelee-sl, @hashgraph/hedera-smart-contracts-product

fix: added null check for nullable values in formatContractResult() (#3210)
  packages/relay/src/formatters.ts
  packages/relay/tests/lib/eth/eth_getTransactionByBlockHashAndIndex.spec.ts
  packages/relay/tests/lib/eth/eth_getTransactionByBlockNumberAndIndex.spec.ts
  packages/relay/tests/lib/formatters.spec.ts
Owners: @AlfredoG87, @ebadiere, @lukelee-sl, @hashgraph/hedera-smart-contracts-product

fix: added null check for nullable values in formatContractResult() (#3210)
  packages/relay/src/formatters.ts
  packages/relay/tests/lib/eth/eth_getTransactionByBlockHashAndIndex.spec.ts
  packages/relay/tests/lib/eth/eth_getTransactionByBlockNumberAndIndex.spec.ts
  packages/relay/tests/lib/formatters.spec.ts
Owners: @AlfredoG87, @ebadiere, @lukelee-sl, @hashgraph/hedera-smart-contracts-product

chore: cherry picked #3120 to release/0.59 (#3211)
  packages/relay/src/formatters.ts
  packages/relay/tests/lib/eth/eth_getTransactionByBlockHashAndIndex.spec.ts
  packages/relay/tests/lib/eth/eth_getTransactionByBlockNumberAndIndex.spec.ts
  packages/relay/tests/lib/formatters.spec.ts
Owners: @AlfredoG87, @ebadiere, @lukelee-sl, @hashgraph/hedera-smart-contracts-product

Bump versions for v0.59.2
  charts/hedera-json-rpc-relay-websocket/Chart.yaml
  charts/hedera-json-rpc-relay/Chart.yaml
  charts/hedera-json-rpc/Chart.yaml
  docker-compose.yml
  docs/openrpc.json
  package-lock.json
  packages/config-service/package.json
  packages/relay/package.json
  packages/server/package.json
  packages/ws-server/package.json
Owners: @hashgraph/hedera-smart-contracts-product, @AlfredoG87, @ebadiere, @lukelee-sl, @Nana-EC, @georgi-l95, @Ivo-Yankov

Publish hedera-json-rpc-0.59.2.tgz hedera-json-rpc-relay-0.59.2.tgz hedera-json-rpc-relay-websocket-0.59.2.tgz
  charts/hedera-json-rpc-0.59.2.tgz
  charts/hedera-json-rpc-relay-0.59.2.tgz
  charts/hedera-json-rpc-relay-websocket-0.59.2.tgz
  charts/index.yaml
Owners: @hashgraph/hedera-smart-contracts-product

chore: alphabet order
  docs/configuration.md
Owners: @hashgraph/hedera-smart-contracts-product

fix: upgrade ethers from 6.13.3 to 6.13.4
  dapp-example/package-lock.json
  dapp-example/package.json
Owners: @georgi-l95, @Ivo-Yankov, @hashgraph/hedera-smart-contracts-product

feat: remove transactions with status `INVALID_ACCOUNT_ID` from block-specific routes (#3177)
  docs/configuration.md
  packages/config-service/src/services/globalConfig.ts
  packages/relay/src/lib/eth.ts
  packages/relay/src/utils.ts
  packages/relay/tests/lib/eth/eth_getBlockByNumber.spec.ts
  packages/relay/tests/lib/utils.spec.ts
Owners: @hashgraph/hedera-smart-contracts-product, @AlfredoG87, @ebadiere, @lukelee-sl
