Repository hashgraph/hedera-json-rpc-relay, changes with the owners that .github/CODEOWNERS names for each.
All owners: @hashgraph/devops-ci, @hashgraph/release-engineering-managers, @hashgraph/hedera-smart-contracts, @Nana-EC, @georgi-l95, @Ivo-Yankov, @hashgraph/devops-ci-committers, @hashgraph/release-engineering

.github/CODEOWNERS:

###################################
##### Global Protection Rule ######
###################################
# NOTE: This rule is overriden by the more specific rules below. This is the catch-all rule for all files not covered by the more specific rules below
*                                               @hashgraph/devops-ci @hashgraph/release-engineering-managers @hashgraph/hedera-smart-contracts

#########################
##### Hedera Relay ######
#########################
/packages/relay/                                @hashgraph/devops-ci @hashgraph/release-engineering-managers @hashgraph/hedera-smart-contracts
/packages/server/                               @Nana-EC @hashgraph/devops-ci @hashgraph/release-engineering-managers @hashgraph/hedera-smart-contracts
/packages/ws-server/                            @georgi-l95 @Ivo-Yankov @hashgraph/devops-ci @hashgraph/release-engineering-managers @hashgraph/hedera-smart-contracts

###############################
##### Tools and Examples ######
###############################
/dapp-example/                                  @georgi-l95 @Ivo-Yankov @hashgraph/devops-ci @hashgraph/release-engineering-managers @hashgraph/hedera-smart-contracts
/k6/                                            @hashgraph/devops-ci @hashgraph/release-engineering-managers @hashgraph/hedera-smart-contracts
/tools/                                         @georgi-l95 @Ivo-Yankov @hashgraph/devops-ci @hashgraph/release-engineering-managers @hashgraph/hedera-smart-contracts

########################
#####  Core Files  ######
#########################

# NOTE: Must be placed last to ensure enforcement over all other rules

# Protection Rules for Github Configuration Files and Actions Workflows
/.github/                                       @hashgraph/devops-ci @hashgraph/devops-ci-committers @hashgraph/release-engineering @hashgraph/release-engineering-managers
/.github/workflows/                             @Nana-EC @hashgraph/devops-ci @hashgraph/devops-ci-committers @hashgraph/release-engineering @hashgraph/release-engineering-managers @hashgraph/hedera-smart-contracts

# Self-protection for root CODEOWNERS files (this file should not exist and should definitely require approval)
/CODEOWNERS                                     @hashgraph/release-engineering-managers

# Protect the repository root files
/README.md                                      @Nana-EC @hashgraph/release-engineering-managers @hashgraph/devops-ci @hashgraph/hedera-smart-contracts
**/LICENSE                                      @hashgraph/release-engineering-managers

# Git Ignore definitions
**/.gitignore                                   @Nana-EC @hashgraph/release-engineering @hashgraph/release-engineering-managers @hashgraph/devops-ci @hashgraph/hedera-smart-contracts
**/.gitignore.*                                 @Nana-EC @hashgraph/release-engineering @hashgraph/release-engineering-managers @hashgraph/devops-ci @hashgraph/hedera-smart-contracts

fixup! fixup! fixup! fixup! fixup! fixup! test: add test for receivers account precheck
  packages/relay/src/lib/errors/JsonRpcError.ts
Owners: @hashgraph/devops-ci, @hashgraph/release-engineering-managers, @hashgraph/hedera-smart-contracts

Bump versions for v0.62.0
  charts/hedera-json-rpc-relay-websocket/Chart.yaml
  charts/hedera-json-rpc-relay/Chart.yaml
  charts/hedera-json-rpc/Chart.yaml
  docker-compose.yml
  docs/openrpc.json
  package-lock.json
  package.json
  packages/config-service/package.json
  packages/relay/package.json
  packages/server/package.json
  packages/ws-server/package.json
Owners: @hashgraph/devops-ci, @hashgraph/release-engineering-managers, @hashgraph/hedera-smart-contracts, @Nana-EC, @georgi-l95, @Ivo-Yankov

Publish hedera-json-rpc-0.62.0.tgz hedera-json-rpc-relay-0.62.0.tgz hedera-json-rpc-relay-websocket-0.62.0.tgz
  charts/hedera-json-rpc-0.62.0.tgz
  charts/hedera-json-rpc-relay-0.62.0.tgz
  charts/hedera-json-rpc-relay-websocket-0.62.0.tgz
  charts/index.yaml
Owners: @hashgraph/devops-ci, @hashgraph/release-engineering-managers, @hashgraph/hedera-smart-contracts

build(dep): [Snyk] Upgrade @emotion/styled from 11.13.0 to 11.13.5 (#3330)
  dapp-example/package-lock.json
  dapp-example/package.json
Owners: @georgi-l95, @Ivo-Yankov, @hashgraph/devops-ci, @hashgraph/release-engineering-managers, @hashgraph/hedera-smart-contracts

fix: upgrade @emotion/react from 11.13.3 to 11.13.5
  dapp-example/package-lock.json
  dapp-example/package.json
Owners: @georgi-l95, @Ivo-Yankov, @hashgraph/devops-ci, @hashgraph/release-engineering-managers, @hashgraph/hedera-smart-contracts

chore: prepend 0x to operator address
  packages/relay/src/lib/services/hbarLimitService/index.ts
Owners: @hashgraph/devops-ci, @hashgraph/release-engineering-managers, @hashgraph/hedera-smart-contracts
