Repository hashgraph/hedera-json-rpc-relay, changes with the owners that .github/CODEOWNERS names for each.
All owners: @hashgraph/hedera-smart-contracts-product, @AlfredoG87, @ebadiere, @lukelee-sl, @Nana-EC, @georgi-l95, @Ivo-Yankov, @hashgraph/devops-ci, @hashgraph/devops-ci-committers, @hashgraph/release-engineering, @hashgraph/release-engineering-managers

.github/CODEOWNERS:

###################################
##### Global Protection Rule ######
###################################
# NOTE: This rule is overriden by the more specific rules below. This is the catch-all rule for all files not covered by the more specific rules below
*                                               @hashgraph/hedera-smart-contracts-product

#########################
##### Hedera Relay ######
#########################
/packages/relay/                                @AlfredoG87 @ebadiere @lukelee-sl @hashgraph/hedera-smart-contracts-product
/packages/server/                               @AlfredoG87 @ebadiere @Nana-EC @hashgraph/hedera-smart-contracts-product
/packages/ws-server/                            @AlfredoG87 @ebadiere @georgi-l95 @Ivo-Yankov @hashgraph/hedera-smart-contracts-product

###############################
##### Tools and Examples ######
###############################
/dapp-example/                                  @georgi-l95 @Ivo-Yankov @hashgraph/hedera-smart-contracts-product
/k6/                                            @AlfredoG87 @hashgraph/hedera-smart-contracts-product
/tools/                                         @georgi-l95 @Ivo-Yankov @hashgraph/hedera-smart-contracts-product

########################
#####  Core Files  ######
#########################

# NOTE: Must be placed last to ensure enforcement over all other rules

# Protection Rules for Github Configuration Files and Actions Workflows
/.github/                                       @hashgraph/devops-ci @hashgraph/devops-ci-committers @hashgraph/release-engineering @hashgraph/release-engineering-managers
/.github/workflows/                             @hashgraph/devops-ci @hashgraph/devops-ci-committers @hashgraph/release-engineering @hashgraph/release-engineering-managers @AlfredoG87 @ebadiere @Nana-EC @hashgraph/hedera-smart-contracts-product

# Self-protection for root CODEOWNERS files (this file should not exist and should definitely require approval)
/CODEOWNERS                                     @hashgraph/release-engineering @hashgraph/release-engineering-managers

# Protect the repository root files
/README.md                                      @hashgraph/release-engineering @hashgraph/release-engineering-managers @AlfredoG87 @ebadiere @Nana-EC @hashgraph/hedera-smart-contracts-product
**/LICENSE                                      @hashgraph/release-engineering @hashgraph/release-engineering-managers

# Git Ignore definitions
**/.gitignore                                   @hashgraph/release-engineering @hashgraph/release-engineering-managers @AlfredoG87 @ebadiere @Nana-EC @hashgraph/hedera-smart-contracts-product
**/.gitignore.*                                 @hashgraph/release-engineering @hashgraph/release-engineering-managers @AlfredoG87 @ebadiere @Nana-EC @hashgraph/hedera-smart-contracts-product

ci(bug): Update permissions in JSON rpc relay for GITHUB_TOKEN (#3183) (#3186)
  .github/workflows/acceptance.yml
  .github/workflows/release-production.yml
  package.json
  packages/server/tests/acceptance/hbarLimiter.spec.ts
Owners: @hashgraph/devops-ci, @hashgraph/devops-ci-committers, @hashgraph/release-engineering, @hashgraph/release-engineering-managers, @AlfredoG87, @ebadiere, @Nana-EC, @hashgraph/hedera-smart-contracts-product

Bump versions for v0.59.0-rc2
  charts/hedera-json-rpc-relay-websocket/Chart.yaml
  charts/hedera-json-rpc-relay/Chart.yaml
  charts/hedera-json-rpc/Chart.yaml
  docker-compose.yml
  docs/openrpc.json
  package-lock.json
  packages/config-service/package.json
  packages/relay/package.json
  packages/server/package.json
  packages/ws-server/package.json
Owners: @hashgraph/hedera-smart-contracts-product, @AlfredoG87, @ebadiere, @lukelee-sl, @Nana-EC, @georgi-l95, @Ivo-Yankov

Publish hedera-json-rpc-0.59.0-rc2.tgz hedera-json-rpc-relay-0.59.0-rc2.tgz hedera-json-rpc-relay-websocket-0.59.0-rc2.tgz
  charts/hedera-json-rpc-0.59.0-rc2.tgz
  charts/hedera-json-rpc-relay-0.59.0-rc2.tgz
  charts/hedera-json-rpc-relay-websocket-0.59.0-rc2.tgz
  charts/index.yaml
Owners: @hashgraph/hedera-smart-contracts-product

fix: skipped title check CI job for forked PRs
  .github/workflows/flow-pr-title-check.yml
Owners: @hashgraph/devops-ci, @hashgraph/devops-ci-committers, @hashgraph/release-engineering, @hashgraph/release-engineering-managers, @AlfredoG87, @ebadiere, @Nana-EC, @hashgraph/hedera-smart-contracts-product

fix: skipped title check CI job for forked PRs (#3196)
  .github/workflows/flow-pr-title-check.yml
Owners: @hashgraph/devops-ci, @hashgraph/devops-ci-committers, @hashgraph/release-engineering, @hashgraph/release-engineering-managers, @AlfredoG87, @ebadiere, @Nana-EC, @hashgraph/hedera-smart-contracts-product

fix: Wrong metrics in the report of the WS performance tests (#3193)
  k6/src/scenarios/test-ws/common.js
  k6/src/scenarios/test-ws/eth_chainId.js
  k6/src/scenarios/test-ws/eth_subscribe_logs.js
  k6/src/scenarios/test-ws/eth_subscribe_newHeads.js
  k6/src/scenarios/test-ws/eth_subscribe_newPendingTransactions.js
  k6/src/scenarios/ws-apis.js
Owners: @AlfredoG87, @hashgraph/hedera-smart-contracts-product

chore: resolve comments
  packages/relay/src/lib/eth.ts
Owners: @AlfredoG87, @ebadiere, @lukelee-sl, @hashgraph/hedera-smart-contracts-product

fix: Capture the npm_package_version
  packages/config-service/src/services/globalConfig.ts
  packages/config-service/tests/src/services/validationService.spec.ts
Owners: @hashgraph/hedera-smart-contracts-product

fix: Adding npm_package_version at the root package.json file to allow test framework to load the value in the config service. Also some clean up.
  package.json
  packages/server/tests/acceptance/index.spec.ts
Owners: @hashgraph/hedera-smart-contracts-product, @AlfredoG87, @ebadiere, @Nana-EC

chore: Updated package-lock.json
  package-lock.json
Owners: @hashgraph/hedera-smart-contracts-product

fix: Capture the npm_package_version (#3198)
  package-lock.json
  package.json
  packages/config-service/src/services/globalConfig.ts
  packages/config-service/tests/src/services/validationService.spec.ts
  packages/server/tests/acceptance/index.spec.ts
Owners: @hashgraph/hedera-smart-contracts-product, @AlfredoG87, @ebadiere, @Nana-EC

fix: Capture the npm_package_version (#3198)
  package-lock.json
  package.json
  packages/config-service/src/services/globalConfig.ts
  packages/config-service/tests/src/services/validationService.spec.ts
  packages/server/tests/acceptance/index.spec.ts
Owners: @hashgraph/hedera-smart-contracts-product, @AlfredoG87, @ebadiere, @Nana-EC

fix: Added the correct version to the root level package.json and rebuilt the package-lock.json.
  package-lock.json
  package.json
Owners: @hashgraph/hedera-smart-contracts-product

Adds eslint fix to husky
  package.json
Owners: @hashgraph/hedera-smart-contracts-product

feat: Added ability to load spending plans from environment variable. (#3153)
  docs/configuration.md
  docs/design/hbar-limiter.md
  packages/config-service/src/services/globalConfig.ts
  packages/config-service/tests/src/services/loggerService.spec.ts
  packages/relay/src/lib/clients/cache/localLRUCache.ts
  packages/relay/src/lib/config/hbarSpendingPlanConfigService.ts
  packages/relay/tests/lib/config/hbarSpendingPlanConfigService.spec.ts
  packages/relay/tests/lib/relay.spec.ts
  packages/server/tests/acceptance/hbarLimiter.spec.ts
  packages/server/tests/localAcceptance.env
Owners: @hashgraph/hedera-smart-contracts-product, @AlfredoG87, @ebadiere, @lukelee-sl, @Nana-EC

fix: 3198 cherry pick npm package version (#3200)
  package-lock.json
  package.json
  packages/config-service/src/services/globalConfig.ts
  packages/config-service/tests/src/services/validationService.spec.ts
  packages/server/tests/acceptance/index.spec.ts
Owners: @hashgraph/hedera-smart-contracts-product, @AlfredoG87, @ebadiere, @Nana-EC

feat: Added ability to load spending plans from environment variable. (#3153)
  docs/configuration.md
  docs/design/hbar-limiter.md
  packages/config-service/src/services/globalConfig.ts
  packages/config-service/tests/src/services/loggerService.spec.ts
  packages/relay/src/lib/clients/cache/localLRUCache.ts
  packages/relay/src/lib/config/hbarSpendingPlanConfigService.ts
  packages/relay/tests/lib/config/hbarSpendingPlanConfigService.spec.ts
  packages/relay/tests/lib/relay.spec.ts
  packages/server/tests/acceptance/hbarLimiter.spec.ts
  packages/server/tests/localAcceptance.env
Owners: @hashgraph/hedera-smart-contracts-product, @AlfredoG87, @ebadiere, @lukelee-sl, @Nana-EC

fix: stabilized HBAR Rate Limit acceptance tests
  packages/server/tests/acceptance/hbarLimiter.spec.ts
  packages/server/tests/localAcceptance.env
Owners: @AlfredoG87, @ebadiere, @Nana-EC, @hashgraph/hedera-smart-contracts-product

fix: added TEST_TRANSACTION_RECORD_COST_TOLERANCE config
  docs/configuration.md
  packages/config-service/src/services/globalConfig.ts
  packages/server/tests/acceptance/hbarLimiter.spec.ts
  packages/server/tests/localAcceptance.env
Owners: @hashgraph/hedera-smart-contracts-product, @AlfredoG87, @ebadiere, @Nana-EC

chore: updated log messages
  packages/server/tests/acceptance/hbarLimiter.spec.ts
Owners: @AlfredoG87, @ebadiere, @Nana-EC, @hashgraph/hedera-smart-contracts-product

feat: Added ability to load spending plans from environment variable.… (#3201)
  docs/configuration.md
  docs/design/hbar-limiter.md
  packages/config-service/src/services/globalConfig.ts
  packages/config-service/tests/src/services/loggerService.spec.ts
  packages/relay/src/lib/clients/cache/localLRUCache.ts
  packages/relay/src/lib/config/hbarSpendingPlanConfigService.ts
  packages/relay/tests/lib/config/hbarSpendingPlanConfigService.spec.ts
  packages/relay/tests/lib/relay.spec.ts
  packages/server/tests/acceptance/hbarLimiter.spec.ts
  packages/server/tests/localAcceptance.env
Owners: @hashgraph/hedera-smart-contracts-product, @AlfredoG87, @ebadiere, @lukelee-sl, @Nana-EC

Bump versions for v0.59.0-rc3
  charts/hedera-json-rpc-relay-websocket/Chart.yaml
  charts/hedera-json-rpc-relay/Chart.yaml
  charts/hedera-json-rpc/Chart.yaml
  docker-compose.yml
  docs/openrpc.json
  package-lock.json
  packages/config-service/package.json
  packages/relay/package.json
  packages/server/package.json
  packages/ws-server/package.json
Owners: @hashgraph/hedera-smart-contracts-product, @AlfredoG87, @ebadiere, @lukelee-sl, @Nana-EC, @georgi-l95, @Ivo-Yankov

Publish hedera-json-rpc-0.59.0-rc3.tgz hedera-json-rpc-relay-0.59.0-rc3.tgz hedera-json-rpc-relay-websocket-0.59.0-rc3.tgz
  charts/hedera-json-rpc-0.59.0-rc3.tgz
  charts/hedera-json-rpc-relay-0.59.0-rc3.tgz
  charts/hedera-json-rpc-relay-websocket-0.59.0-rc3.tgz
  charts/index.yaml
Owners: @hashgraph/hedera-smart-contracts-product

fix: fixed wrong type
  packages/config-service/src/services/globalConfig.ts
Owners: @hashgraph/hedera-smart-contracts-product

chore: pull main
  docs/configuration.md
Owners: @hashgraph/hedera-smart-contracts-product

ci: Disable npm cache
  .github/workflows/dapp.yml
Owners: @hashgraph/devops-ci, @hashgraph/devops-ci-committers, @hashgraph/release-engineering, @hashgraph/release-engineering-managers, @AlfredoG87, @ebadiere, @Nana-EC, @hashgraph/hedera-smart-contracts-product

docs: Add `testing-guide.md` to document testing best practices (#3164)
  README.md
  docs/testing-guide.md
Owners: @hashgraph/release-engineering, @hashgraph/release-engineering-managers, @AlfredoG87, @ebadiere, @Nana-EC, @hashgraph/hedera-smart-contracts-product

fix: stabilized HBAR Rate Limit acceptance tests (#3189)
  docs/configuration.md
  packages/config-service/src/services/globalConfig.ts
  packages/server/tests/acceptance/hbarLimiter.spec.ts
  packages/server/tests/localAcceptance.env
Owners: @hashgraph/hedera-smart-contracts-product, @AlfredoG87, @ebadiere, @Nana-EC

Adds retry to eth send raw transaction
  packages/relay/src/lib/eth.ts
Owners: @AlfredoG87, @ebadiere, @lukelee-sl, @hashgraph/hedera-smart-contracts-product

Adds improvements
  packages/relay/src/lib/eth.ts
Owners: @AlfredoG87, @ebadiere, @lukelee-sl, @hashgraph/hedera-smart-contracts-product

Adds mirror node check before retry and expands SDKClientError object to include transactionId
  packages/relay/src/lib/clients/sdkClient.ts
  packages/relay/src/lib/errors/SDKClientError.ts
  packages/relay/src/lib/eth.ts
Owners: @AlfredoG87, @ebadiere, @lukelee-sl, @hashgraph/hedera-smart-contracts-product

Adds unit tests
  packages/relay/tests/lib/eth/eth_sendRawTransaction.spec.ts
Owners: @AlfredoG87, @ebadiere, @lukelee-sl, @hashgraph/hedera-smart-contracts-product

Addresses PR comments
  packages/relay/src/lib/clients/sdkClient.ts
  packages/relay/src/lib/errors/SDKClientError.ts
  packages/relay/src/lib/eth.ts
Owners: @AlfredoG87, @ebadiere, @lukelee-sl, @hashgraph/hedera-smart-contracts-product

Adds unit tests
  packages/relay/src/lib/clients/sdkClient.ts
  packages/relay/tests/lib/eth/eth_sendRawTransaction.spec.ts
  packages/relay/tests/lib/sdkClient.spec.ts
  packages/relay/tests/lib/services/metricService/metricService.spec.ts
Owners: @AlfredoG87, @ebadiere, @lukelee-sl, @hashgraph/hedera-smart-contracts-product

adds relevant comment for hardcoded values
  packages/relay/src/lib/eth.ts
Owners: @AlfredoG87, @ebadiere, @lukelee-sl, @hashgraph/hedera-smart-contracts-product

Changes the error thrown when timeout occurs to SDKClientError
  packages/relay/src/lib/clients/sdkClient.ts
Owners: @AlfredoG87, @ebadiere, @lukelee-sl, @hashgraph/hedera-smart-contracts-product

removes retry and adds mirror node check in the sdk client
  packages/relay/src/lib/clients/sdkClient.ts
  packages/relay/src/lib/eth.ts
  packages/relay/src/lib/services/hapiService/hapiService.ts
Owners: @AlfredoG87, @ebadiere, @lukelee-sl, @hashgraph/hedera-smart-contracts-product

Ensure other error types are thrown
  packages/relay/src/lib/clients/sdkClient.ts
Owners: @AlfredoG87, @ebadiere, @lukelee-sl, @hashgraph/hedera-smart-contracts-product

fix: Adds retry to send raw transaction (#3161)
  packages/relay/src/lib/clients/sdkClient.ts
  packages/relay/src/lib/errors/SDKClientError.ts
  packages/relay/src/lib/services/hapiService/hapiService.ts
  packages/relay/tests/lib/eth/eth_sendRawTransaction.spec.ts
  packages/relay/tests/lib/sdkClient.spec.ts
  packages/relay/tests/lib/services/metricService/metricService.spec.ts
Owners: @AlfredoG87, @ebadiere, @lukelee-sl, @hashgraph/hedera-smart-contracts-product

fix: upgrade ethers from 6.13.3 to 6.13.4
  k6/package-lock.json
  k6/package.json
Owners: @AlfredoG87, @hashgraph/hedera-smart-contracts-product
