Repository hashgraph/hedera-json-rpc-relay, changes with the owners that .github/CODEOWNERS names for each.
All owners: @hashgraph/hedera-smart-contracts, @AlfredoG87, @ebadiere, @lukelee-sl, @Nana-EC, @georgi-l95, @Ivo-Yankov, @hashgraph/release-engineering, @hashgraph/release-engineering-managers

.github/CODEOWNERS:

###################################
##### Global Protection Rule ######
###################################
# NOTE: This rule is overriden by the more specific rules below. This is the catch-all rule for all files not covered by the more specific rules below
*                                               @hashgraph/hedera-smart-contracts

#########################
##### Hedera Relay ######
#########################
/packages/relay/                                @AlfredoG87 @ebadiere @lukelee-sl @hashgraph/hedera-smart-contracts
/packages/server/                               @AlfredoG87 @ebadiere @Nana-EC @hashgraph/hedera-smart-contracts
/packages/ws-server/                            @AlfredoG87 @ebadiere @georgi-l95 @Ivo-Yankov @hashgraph/hedera-smart-contracts

###############################
##### Tools and Examples ######
###############################
/dapp-example/                                  @georgi-l95 @Ivo-Yankov @hashgraph/hedera-smart-contracts
/k6/                                            @AlfredoG87 @hashgraph/hedera-smart-contracts
/tools/                                         @georgi-l95 @Ivo-Yankov @hashgraph/hedera-smart-contracts

########################
#####  Core Files  ######
#########################

# NOTE: Must be placed last to ensure enforcement over all other rules

# Protection Rules for Github Configuration Files and Actions Workflows
/.github/                                       @hashgraph/release-engineering @hashgraph/release-engineering-managers
/.github/workflows/                             @hashgraph/release-engineering @hashgraph/release-engineering-managers @AlfredoG87 @ebadiere @Nana-EC @hashgraph/hedera-smart-contracts

# Self-protection for root CODEOWNERS files (this file should not exist and should definitely require approval)
/CODEOWNERS                                     @hashgraph/release-engineering @hashgraph/release-engineering-managers

# Protect the repository root files
/README.md                                      @hashgraph/release-engineering @hashgraph/release-engineering-managers @AlfredoG87 @ebadiere @Nana-EC @hashgraph/hedera-smart-contracts
**/LICENSE                                      @hashgraph/release-engineering @hashgraph/release-engineering-managers

# Git Ignore definitions
**/.gitignore                                   @hashgraph/release-engineering @hashgraph/release-engineering-managers @AlfredoG87 @ebadiere @Nana-EC @hashgraph/hedera-smart-contracts
**/.gitignore.*                                 @hashgraph/release-engineering @hashgraph/release-engineering-managers @AlfredoG87 @ebadiere @Nana-EC @hashgraph/hedera-smart-contracts

chore: revert changes in package-lock
  package-lock.json
Owners: @hashgraph/hedera-smart-contracts

fix: upgrade multiple dependencies with Snyk
  dapp-example/package-lock.json
  dapp-example/package.json
Owners: @georgi-l95, @Ivo-Yankov, @hashgraph/hedera-smart-contracts

Bump versions for v0.48.1
  charts/hedera-json-rpc-relay-websocket/Chart.yaml
  charts/hedera-json-rpc-relay/Chart.yaml
  docker-compose.yml
  docs/openrpc.json
  package-lock.json
  packages/relay/package.json
  packages/server/package.json
  packages/ws-server/package.json
Owners: @hashgraph/hedera-smart-contracts, @AlfredoG87, @ebadiere, @lukelee-sl, @Nana-EC, @georgi-l95, @Ivo-Yankov

test: add unit tests
  packages/relay/src/lib/precheck.ts
  packages/relay/tests/helpers.ts
  packages/relay/tests/lib/precheck.spec.ts
Owners: @AlfredoG87, @ebadiere, @lukelee-sl, @hashgraph/hedera-smart-contracts

Release charts for version v0.27.1
  charts/hedera-json-rpc-relay-v0.27.1.tgz
  charts/hedera-json-rpc-relay-websocket-v0.27.1.tgz
  charts/hedera-json-rpc-v0.27.1.tgz
  charts/index.yaml
Owners: @hashgraph/hedera-smart-contracts

Release charts for version v0.28.0
  charts/hedera-json-rpc-relay-v0.28.0.tgz
  charts/hedera-json-rpc-relay-websocket-v0.28.0.tgz
  charts/hedera-json-rpc-v0.28.0.tgz
  charts/index.yaml
Owners: @hashgraph/hedera-smart-contracts

Release charts for version v0.28.1
  charts/hedera-json-rpc-relay-v0.28.1.tgz
  charts/hedera-json-rpc-relay-websocket-v0.28.1.tgz
  charts/hedera-json-rpc-v0.28.1.tgz
  charts/index.yaml
Owners: @hashgraph/hedera-smart-contracts

Release charts for version v0.29.0
  charts/hedera-json-rpc-relay-v0.29.0.tgz
  charts/hedera-json-rpc-relay-websocket-v0.29.0.tgz
  charts/hedera-json-rpc-v0.29.0.tgz
  charts/index.yaml
Owners: @hashgraph/hedera-smart-contracts

Release charts for version v0.29.1
  charts/hedera-json-rpc-relay-v0.29.1.tgz
  charts/hedera-json-rpc-relay-websocket-v0.29.1.tgz
  charts/hedera-json-rpc-v0.29.1.tgz
  charts/index.yaml
Owners: @hashgraph/hedera-smart-contracts

Release charts for version v0.30.0
  charts/hedera-json-rpc-relay-v0.30.0.tgz
  charts/hedera-json-rpc-relay-websocket-v0.30.0.tgz
  charts/hedera-json-rpc-v0.30.0.tgz
  charts/index.yaml
Owners: @hashgraph/hedera-smart-contracts

Release charts for version v0.31.0
  charts/hedera-json-rpc-relay-v0.31.0.tgz
  charts/hedera-json-rpc-relay-websocket-v0.31.0.tgz
  charts/hedera-json-rpc-v0.31.0.tgz
  charts/index.yaml
Owners: @hashgraph/hedera-smart-contracts

Release charts for version v0.31.1
  charts/hedera-json-rpc-relay-v0.31.1.tgz
  charts/hedera-json-rpc-relay-websocket-v0.31.1.tgz
  charts/hedera-json-rpc-v0.31.1.tgz
  charts/index.yaml
Owners: @hashgraph/hedera-smart-contracts

Release charts for version v0.31.2
  charts/hedera-json-rpc-relay-v0.31.2.tgz
  charts/hedera-json-rpc-relay-websocket-v0.31.2.tgz
  charts/hedera-json-rpc-v0.31.2.tgz
  charts/index.yaml
Owners: @hashgraph/hedera-smart-contracts

Release charts for version v0.31.3
  charts/hedera-json-rpc-relay-v0.31.3.tgz
  charts/hedera-json-rpc-relay-websocket-v0.31.3.tgz
  charts/hedera-json-rpc-v0.31.3.tgz
  charts/index.yaml
Owners: @hashgraph/hedera-smart-contracts

Release charts for version v0.32.0
  charts/hedera-json-rpc-relay-v0.32.0.tgz
  charts/hedera-json-rpc-relay-websocket-v0.32.0.tgz
  charts/hedera-json-rpc-v0.32.0.tgz
  charts/index.yaml
Owners: @hashgraph/hedera-smart-contracts

Release charts for version v0.33.0
  charts/hedera-json-rpc-relay-v0.33.0.tgz
  charts/hedera-json-rpc-relay-websocket-v0.33.0.tgz
  charts/hedera-json-rpc-v0.33.0.tgz
  charts/index.yaml
Owners: @hashgraph/hedera-smart-contracts

Release charts for version v0.33.1
  charts/hedera-json-rpc-relay-v0.33.1.tgz
  charts/hedera-json-rpc-relay-websocket-v0.33.1.tgz
  charts/hedera-json-rpc-v0.33.1.tgz
  charts/index.yaml
Owners: @hashgraph/hedera-smart-contracts

Release charts for version v0.34.0
  charts/hedera-json-rpc-relay-v0.34.0.tgz
  charts/hedera-json-rpc-relay-websocket-v0.34.0.tgz
  charts/hedera-json-rpc-v0.34.0.tgz
  charts/index.yaml
Owners: @hashgraph/hedera-smart-contracts

Release charts for version v0.35.1
  charts/hedera-json-rpc-relay-v0.35.1.tgz
  charts/hedera-json-rpc-relay-websocket-v0.35.1.tgz
  charts/hedera-json-rpc-v0.35.1.tgz
  charts/index.yaml
Owners: @hashgraph/hedera-smart-contracts

Release charts for version v0.35.2
  charts/hedera-json-rpc-relay-v0.35.2.tgz
  charts/hedera-json-rpc-relay-websocket-v0.35.2.tgz
  charts/hedera-json-rpc-v0.35.2.tgz
  charts/index.yaml
Owners: @hashgraph/hedera-smart-contracts

Release charts for version v0.36.0
  charts/hedera-json-rpc-relay-v0.36.0.tgz
  charts/hedera-json-rpc-relay-websocket-v0.36.0.tgz
  charts/hedera-json-rpc-v0.36.0.tgz
  charts/index.yaml
Owners: @hashgraph/hedera-smart-contracts

Release charts for version v0.36.1
  charts/hedera-json-rpc-relay-v0.36.1.tgz
  charts/hedera-json-rpc-relay-websocket-v0.36.1.tgz
  charts/hedera-json-rpc-v0.36.1.tgz
  charts/index.yaml
Owners: @hashgraph/hedera-smart-contracts

Release charts for version v0.36.2
  charts/hedera-json-rpc-relay-v0.36.2.tgz
  charts/hedera-json-rpc-relay-websocket-v0.36.2.tgz
  charts/hedera-json-rpc-v0.36.2.tgz
  charts/index.yaml
Owners: @hashgraph/hedera-smart-contracts

Release charts for version v0.37.0
  charts/hedera-json-rpc-relay-v0.37.0.tgz
  charts/hedera-json-rpc-relay-websocket-v0.37.0.tgz
  charts/hedera-json-rpc-v0.37.0.tgz
  charts/index.yaml
Owners: @hashgraph/hedera-smart-contracts

Release charts for version v0.38.0
  charts/hedera-json-rpc-relay-v0.38.0.tgz
  charts/hedera-json-rpc-relay-websocket-v0.38.0.tgz
  charts/hedera-json-rpc-v0.38.0.tgz
  charts/index.yaml
Owners: @hashgraph/hedera-smart-contracts

Release charts for version v0.39.0
  charts/hedera-json-rpc-relay-v0.39.0.tgz
  charts/hedera-json-rpc-relay-websocket-v0.39.0.tgz
  charts/hedera-json-rpc-v0.39.0.tgz
  charts/index.yaml
Owners: @hashgraph/hedera-smart-contracts

Release charts for version v0.39.1
  charts/hedera-json-rpc-relay-v0.39.1.tgz
  charts/hedera-json-rpc-relay-websocket-v0.39.1.tgz
  charts/hedera-json-rpc-v0.39.1.tgz
  charts/index.yaml
Owners: @hashgraph/hedera-smart-contracts

Release charts for version v0.40.0
  charts/hedera-json-rpc-relay-v0.40.0.tgz
  charts/hedera-json-rpc-relay-websocket-v0.40.0.tgz
  charts/hedera-json-rpc-v0.40.0.tgz
  charts/index.yaml
Owners: @hashgraph/hedera-smart-contracts

Release charts for version v0.41.0
  charts/hedera-json-rpc-relay-v0.41.0.tgz
  charts/hedera-json-rpc-relay-websocket-v0.41.0.tgz
  charts/hedera-json-rpc-v0.41.0.tgz
  charts/index.yaml
Owners: @hashgraph/hedera-smart-contracts

Release charts for version v0.41.1
  charts/hedera-json-rpc-relay-v0.41.1.tgz
  charts/hedera-json-rpc-relay-websocket-v0.41.1.tgz
  charts/hedera-json-rpc-v0.41.1.tgz
  charts/index.yaml
Owners: @hashgraph/hedera-smart-contracts

Release charts for version v0.42.0
  charts/hedera-json-rpc-relay-v0.42.0.tgz
  charts/hedera-json-rpc-relay-websocket-v0.42.0.tgz
  charts/hedera-json-rpc-v0.42.0.tgz
  charts/index.yaml
Owners: @hashgraph/hedera-smart-contracts

Release charts for version v0.43.0
  charts/hedera-json-rpc-relay-v0.43.0.tgz
  charts/hedera-json-rpc-relay-websocket-v0.43.0.tgz
  charts/hedera-json-rpc-v0.43.0.tgz
  charts/index.yaml
Owners: @hashgraph/hedera-smart-contracts

Release charts for version v0.43.1
  charts/hedera-json-rpc-relay-v0.43.1.tgz
  charts/hedera-json-rpc-relay-websocket-v0.43.1.tgz
  charts/hedera-json-rpc-v0.43.1.tgz
  charts/index.yaml
Owners: @hashgraph/hedera-smart-contracts

Release charts for version v0.44.0
  charts/hedera-json-rpc-relay-v0.44.0.tgz
  charts/hedera-json-rpc-relay-websocket-v0.44.0.tgz
  charts/hedera-json-rpc-v0.44.0.tgz
  charts/index.yaml
Owners: @hashgraph/hedera-smart-contracts

Release charts for version v0.44.1
  charts/hedera-json-rpc-relay-v0.44.1.tgz
  charts/hedera-json-rpc-relay-websocket-v0.44.1.tgz
  charts/hedera-json-rpc-v0.44.1.tgz
  charts/index.yaml
Owners: @hashgraph/hedera-smart-contracts

Release charts for version v0.44.2
  charts/hedera-json-rpc-relay-v0.44.2.tgz
  charts/hedera-json-rpc-relay-websocket-v0.44.2.tgz
  charts/hedera-json-rpc-v0.44.2.tgz
  charts/index.yaml
Owners: @hashgraph/hedera-smart-contracts

Release charts for version v0.45.0
  charts/hedera-json-rpc-relay-v0.45.0.tgz
  charts/hedera-json-rpc-relay-websocket-v0.45.0.tgz
  charts/hedera-json-rpc-v0.45.0.tgz
  charts/index.yaml
Owners: @hashgraph/hedera-smart-contracts

Release charts for version v0.45.1
  charts/hedera-json-rpc-relay-v0.45.1.tgz
  charts/hedera-json-rpc-relay-websocket-v0.45.1.tgz
  charts/hedera-json-rpc-v0.45.1.tgz
  charts/index.yaml
Owners: @hashgraph/hedera-smart-contracts

Release charts for version v0.45.2
  charts/hedera-json-rpc-relay-v0.45.2.tgz
  charts/hedera-json-rpc-relay-websocket-v0.45.2.tgz
  charts/hedera-json-rpc-v0.45.2.tgz
  charts/index.yaml
Owners: @hashgraph/hedera-smart-contracts

Release charts for version v0.46.0
  charts/hedera-json-rpc-relay-v0.46.0.tgz
  charts/hedera-json-rpc-relay-websocket-v0.46.0.tgz
  charts/hedera-json-rpc-v0.46.0.tgz
  charts/index.yaml
Owners: @hashgraph/hedera-smart-contracts
