Repository hashgraph/hedera-json-rpc-relay, changes with the owners that .github/CODEOWNERS names for each.
All owners: @hashgraph/hedera-smart-contracts, @AlfredoG87, @ebadiere, @lukelee-sl, @Nana-EC, @georgi-l95, @Ivo-Yankov, @hashgraph/release-engineering, @hashgraph/release-engineering-managers

.github/CODEOWNERS:

###################################
##### Global Protection Rule ######
###################################
# NOTE: This rule is overriden by the more specific rules below. This is the catch-all rule for all files not covered by the more specific rules below
*                                               @hashgraph/hedera-smart-contracts

#########################
##### Hedera Relay ######
#########################
/packages/relay/                                @AlfredoG87 @ebadiere @lukelee-sl @hashgraph/hedera-smart-contracts
/packages/server/                               @AlfredoG87 @ebadiere @Nana-EC @hashgraph/hedera-smart-contracts
/packages/ws-server/                            @AlfredoG87 @ebadiere @georgi-l95 @Ivo-Yankov @hashgraph/hedera-smart-contracts

###############################
##### Tools and Examples ######
###############################
/dapp-example/                                  @georgi-l95 @Ivo-Yankov @hashgraph/hedera-smart-contracts
/k6/                                            @AlfredoG87 @hashgraph/hedera-smart-contracts
/tools/                                         @georgi-l95 @Ivo-Yankov @hashgraph/hedera-smart-contracts

########################
#####  Core Files  ######
#########################

# NOTE: Must be placed last to ensure enforcement over all other rules

# Protection Rules for Github Configuration Files and Actions Workflows
/.github/                                       @hashgraph/release-engineering @hashgraph/release-engineering-managers
/.github/workflows/                             @hashgraph/release-engineering @hashgraph/release-engineering-managers @AlfredoG87 @ebadiere @Nana-EC @hashgraph/hedera-smart-contracts

# Self-protection for root CODEOWNERS files (this file should not exist and should definitely require approval)
/CODEOWNERS                                     @hashgraph/release-engineering @hashgraph/release-engineering-managers

# Protect the repository root files
/README.md                                      @hashgraph/release-engineering @hashgraph/release-engineering-managers @AlfredoG87 @ebadiere @Nana-EC @hashgraph/hedera-smart-contracts
**/LICENSE                                      @hashgraph/release-engineering @hashgraph/release-engineering-managers

# Git Ignore definitions
**/.gitignore                                   @hashgraph/release-engineering @hashgraph/release-engineering-managers @AlfredoG87 @ebadiere @Nana-EC @hashgraph/hedera-smart-contracts
**/.gitignore.*                                 @hashgraph/release-engineering @hashgraph/release-engineering-managers @AlfredoG87 @ebadiere @Nana-EC @hashgraph/hedera-smart-contracts

feat: Go - JSON RPC Api tests
  tools/golang-example/getTransaction/index.php
  tools/golang-example/getTransaction/main.go
Owners: @georgi-l95, @Ivo-Yankov, @hashgraph/hedera-smart-contracts

Bump versions for v0.49.0
  charts/hedera-json-rpc-relay-websocket/Chart.yaml
  charts/hedera-json-rpc-relay/Chart.yaml
  docker-compose.yml
  docs/openrpc.json
  package-lock.json
  packages/relay/package.json
  packages/server/package.json
  packages/ws-server/package.json
Owners: @hashgraph/hedera-smart-contracts, @AlfredoG87, @ebadiere, @lukelee-sl, @Nana-EC, @georgi-l95, @Ivo-Yankov

Update index.yaml
  index.yaml
Owners: @hashgraph/hedera-smart-contracts

fix: Added rows to dashboard.
  grafana/dashboards/websocketServer/webSocketServer.json
Owners: @hashgraph/hedera-smart-contracts

test: re-included eth_getCode and eth_sendRawTransaction in the release testing flow
  packages/ws-server/tests/acceptance/getCode.spec.ts
  packages/ws-server/tests/acceptance/sendRawTransaction.spec.ts
Owners: @AlfredoG87, @ebadiere, @georgi-l95, @Ivo-Yankov, @hashgraph/hedera-smart-contracts

test: re-included eth_getCode and eth_sendRawTransaction in the release testing flow (#2582)
  packages/ws-server/tests/acceptance/getCode.spec.ts
  packages/ws-server/tests/acceptance/sendRawTransaction.spec.ts
Owners: @AlfredoG87, @ebadiere, @georgi-l95, @Ivo-Yankov, @hashgraph/hedera-smart-contracts

feat: Package name fix
  tools/golang-example/main.go
Owners: @georgi-l95, @Ivo-Yankov, @hashgraph/hedera-smart-contracts

feat: Golang example
  tools/golang-example/.env.sample
  tools/golang-example/.gitignore
  tools/golang-example/README.md
  tools/golang-example/contracts/Greeter.go
  tools/golang-example/contracts/Greeter.sol
  tools/golang-example/go.mod
  tools/golang-example/go.sum
  tools/golang-example/main.go
  tools/golang-example/main_test.go
  tools/golang-example/utils.go
Owners: @georgi-l95, @Ivo-Yankov, @hashgraph/hedera-smart-contracts, @hashgraph/release-engineering, @hashgraph/release-engineering-managers, @AlfredoG87, @ebadiere, @Nana-EC

fix: tests in debug.spec.ts
  packages/relay/src/lib/services/debugService/index.ts
  packages/relay/tests/lib/services/debugService/debug.spec.ts
Owners: @AlfredoG87, @ebadiere, @lukelee-sl, @hashgraph/hedera-smart-contracts

fix: remove unused import
  packages/server/src/server.ts
Owners: @AlfredoG87, @ebadiere, @Nana-EC, @hashgraph/hedera-smart-contracts
