Repository hashgraph/hedera-json-rpc-relay, changes with the owners that .github/CODEOWNERS names for each.
All owners: @hashgraph/hedera-smart-contracts, @AlfredoG87, @ebadiere, @lukelee-sl, @Nana-EC, @georgi-l95, @Ivo-Yankov

fix: improve consistency
  packages/server/tests/acceptance/ws/subscribe.spec.ts
  packages/ws-server/src/webSocketServer.ts
Owners: @AlfredoG87, @ebadiere, @Nana-EC, @hashgraph/hedera-smart-contracts, @georgi-l95, @Ivo-Yankov

fix: assertions for custom fees
  packages/server/tests/acceptance/htsPrecompile/precompileCalls.spec.ts
Owners: @AlfredoG87, @ebadiere, @Nana-EC, @hashgraph/hedera-smart-contracts

Added a comment describing the decrementing of the connection counter.
  packages/ws-server/src/webSocketServer.ts
Owners: @AlfredoG87, @ebadiere, @georgi-l95, @Ivo-Yankov, @hashgraph/hedera-smart-contracts

Added Subscribes for all contract logs
  packages/server/tests/acceptance/ws/subscribe.spec.ts
Owners: @AlfredoG87, @ebadiere, @Nana-EC, @hashgraph/hedera-smart-contracts

chore: addressing nit comments
  .env.example
  packages/server/tests/acceptance/ws/subscribe.spec.ts
  packages/ws-server/src/webSocketServer.ts
Owners: @hashgraph/hedera-smart-contracts, @AlfredoG87, @ebadiere, @Nana-EC, @georgi-l95, @Ivo-Yankov

refactor: add ws-limiter class
  packages/ws-server/src/ConnectionLimiter.ts
  packages/ws-server/src/webSocketServer.ts
Owners: @AlfredoG87, @ebadiere, @georgi-l95, @Ivo-Yankov, @hashgraph/hedera-smart-contracts

feat: add TTL error code and message
  packages/relay/src/lib/errors/WebSocketError.ts
  packages/server/tests/acceptance/ws/subscribe.spec.ts
  packages/ws-server/src/ConnectionLimiter.ts
Owners: @AlfredoG87, @ebadiere, @lukelee-sl, @hashgraph/hedera-smart-contracts, @Nana-EC, @georgi-l95, @Ivo-Yankov

Extract and Log Contract Revert Reason
  packages/relay/src/formatters.ts
  packages/relay/src/lib/clients/mirrorNodeClient.ts
  packages/relay/src/lib/constants.ts
  packages/relay/src/lib/errors/SDKClientError.ts
  packages/relay/src/lib/eth.ts
  packages/relay/tests/lib/formatters.spec.ts
  packages/relay/tests/lib/mirrorNodeClient.spec.ts
Owners: @AlfredoG87, @ebadiere, @lukelee-sl, @hashgraph/hedera-smart-contracts

Fixed error responses when Unsupported Methods are received, and added tests to make sure we are sending the expected error response.
  packages/server/tests/acceptance/ws/subscribe.spec.ts
  packages/ws-server/src/webSocketServer.ts
Owners: @AlfredoG87, @ebadiere, @Nana-EC, @hashgraph/hedera-smart-contracts, @georgi-l95, @Ivo-Yankov

Added web3.js
  packages/server/package.json
Owners: @AlfredoG87, @ebadiere, @Nana-EC, @hashgraph/hedera-smart-contracts

feat: add limit of subs per connection
  .env.example
  packages/relay/src/index.ts
  packages/relay/src/lib/errors/JsonRpcError.ts
  packages/relay/src/lib/subscriptionController.ts
  packages/relay/tests/lib/subscriptionController.spec.ts
  packages/server/tests/acceptance/ws/subscribe.spec.ts
  packages/ws-server/src/ConnectionLimiter.ts
  packages/ws-server/src/webSocketServer.ts
Owners: @hashgraph/hedera-smart-contracts, @AlfredoG87, @ebadiere, @lukelee-sl, @Nana-EC, @georgi-l95, @Ivo-Yankov

Connection limits per IP for WebSocket server (#1037)
  .env.example
  packages/relay/src/index.ts
  packages/relay/src/lib/errors/WebSocketError.ts
  packages/relay/src/lib/poller.ts
  packages/relay/tests/lib/poller.spec.ts
  packages/server/tests/acceptance/ws/subscribe.spec.ts
  packages/ws-server/src/ConnectionLimiter.ts
  packages/ws-server/src/webSocketServer.ts
Owners: @hashgraph/hedera-smart-contracts, @AlfredoG87, @ebadiere, @lukelee-sl, @Nana-EC, @georgi-l95, @Ivo-Yankov

feat: add limit of subs per connection
  .env.example
  packages/relay/src/index.ts
  packages/relay/src/lib/errors/JsonRpcError.ts
  packages/relay/src/lib/subscriptionController.ts
  packages/relay/tests/lib/subscriptionController.spec.ts
  packages/server/tests/acceptance/ws/subscribe.spec.ts
  packages/ws-server/src/ConnectionLimiter.ts
  packages/ws-server/src/webSocketServer.ts
Owners: @hashgraph/hedera-smart-contracts, @AlfredoG87, @ebadiere, @lukelee-sl, @Nana-EC, @georgi-l95, @Ivo-Yankov

Fixed error responses when Unsupported Methods are received (#1044)
  packages/server/tests/acceptance/ws/subscribe.spec.ts
  packages/ws-server/src/webSocketServer.ts
Owners: @AlfredoG87, @ebadiere, @Nana-EC, @hashgraph/hedera-smart-contracts, @georgi-l95, @Ivo-Yankov

Added feature flag to enable disable multiple contracts and acceptance test for both scenarios
  packages/server/tests/acceptance/ws/subscribe.spec.ts
  packages/server/tests/helpers/utils.ts
  packages/ws-server/src/webSocketServer.ts
Owners: @AlfredoG87, @ebadiere, @Nana-EC, @hashgraph/hedera-smart-contracts, @georgi-l95, @Ivo-Yankov

Adding wait time for the connection to be closed
  packages/server/tests/acceptance/ws/subscribe.spec.ts
Owners: @AlfredoG87, @ebadiere, @Nana-EC, @hashgraph/hedera-smart-contracts

increased the time to wait for events since test keeps failing on CI CD pipeline Signed-off-by: Alfredo Gutierrez <alfredo@swirldslabs.com>
  packages/server/tests/acceptance/ws/subscribe.spec.ts
Owners: @AlfredoG87, @ebadiere, @Nana-EC, @hashgraph/hedera-smart-contracts

Enabled multiple contracts before test so it wont fail regardless of the values on the environment
  packages/server/tests/acceptance/ws/subscribe.spec.ts
Owners: @AlfredoG87, @ebadiere, @Nana-EC, @hashgraph/hedera-smart-contracts

Improvements requested by code reviews and documentation about ENV properties. Also refactored to use the appropriate error format. Signed-off-by: Alfredo Gutierrez <alfredo@swirldslabs.com>
  .env.example
  docs/configuration.md
  packages/server/tests/acceptance/ws/subscribe.spec.ts
  packages/server/tests/localAcceptance.env
Owners: @hashgraph/hedera-smart-contracts, @AlfredoG87, @ebadiere, @Nana-EC

new line for file localAcceptance.env Signed-off-by: Alfredo Gutierrez <alfredo@swirldslabs.com>
  packages/server/tests/localAcceptance.env
Owners: @AlfredoG87, @ebadiere, @Nana-EC, @hashgraph/hedera-smart-contracts

Changed params[1] for filters
  packages/server/tests/acceptance/ws/subscribe.spec.ts
Owners: @AlfredoG87, @ebadiere, @Nana-EC, @hashgraph/hedera-smart-contracts

adding comments to change
  packages/server/tests/acceptance/rpc_batch1.spec.ts
Owners: @AlfredoG87, @ebadiere, @Nana-EC, @hashgraph/hedera-smart-contracts

Extract and Log Contract Revert Reason (#1043)
  packages/relay/src/formatters.ts
  packages/relay/src/lib/clients/mirrorNodeClient.ts
  packages/relay/src/lib/constants.ts
  packages/relay/src/lib/errors/SDKClientError.ts
  packages/relay/src/lib/eth.ts
  packages/relay/tests/lib/formatters.spec.ts
  packages/relay/tests/lib/mirrorNodeClient.spec.ts
Owners: @AlfredoG87, @ebadiere, @lukelee-sl, @hashgraph/hedera-smart-contracts

nit: cleanup
  docs/configuration.md
  packages/relay/src/lib/errors/JsonRpcError.ts
  packages/relay/src/lib/subscriptionController.ts
  packages/relay/tests/lib/subscriptionController.spec.ts
  packages/ws-server/src/ConnectionLimiter.ts
Owners: @hashgraph/hedera-smart-contracts, @AlfredoG87, @ebadiere, @lukelee-sl, @georgi-l95, @Ivo-Yankov

nit: fix unit test assertions
  packages/relay/src/lib/subscriptionController.ts
  packages/relay/tests/lib/subscriptionController.spec.ts
Owners: @AlfredoG87, @ebadiere, @lukelee-sl, @hashgraph/hedera-smart-contracts

Feature Flag for eth_subscribe multiple contracts support and acceptance tests (#1029)
  .env.example
  docs/configuration.md
  packages/server/tests/acceptance/ws/subscribe.spec.ts
  packages/server/tests/helpers/utils.ts
  packages/server/tests/localAcceptance.env
  packages/ws-server/src/webSocketServer.ts
Owners: @hashgraph/hedera-smart-contracts, @AlfredoG87, @ebadiere, @Nana-EC, @georgi-l95, @Ivo-Yankov

further improve test to fetch from beginning in case currentBlock is less than 10
  packages/server/tests/acceptance/rpc_batch1.spec.ts
Owners: @AlfredoG87, @ebadiere, @Nana-EC, @hashgraph/hedera-smart-contracts

avoid double call of eth_blockNumber
  packages/server/tests/acceptance/rpc_batch1.spec.ts
Owners: @AlfredoG87, @ebadiere, @Nana-EC, @hashgraph/hedera-smart-contracts

WIP. Pushing up to collaborate.
  packages/server/tests/acceptance/ws/subscribe.spec.ts
Owners: @AlfredoG87, @ebadiere, @Nana-EC, @hashgraph/hedera-smart-contracts

wip: acceptance tests for logs
  packages/server/tests/acceptance/ws/subscribe.spec.ts
Owners: @AlfredoG87, @ebadiere, @Nana-EC, @hashgraph/hedera-smart-contracts

chore: bump mirror version and disable failing tests
  packages/server/tests/acceptance/htsPrecompile/precompileCalls.spec.ts
  packages/server/tests/acceptance/index.spec.ts
Owners: @AlfredoG87, @ebadiere, @Nana-EC, @hashgraph/hedera-smart-contracts

wip: log acceptance tests
  packages/server/tests/acceptance/ws/subscribe.spec.ts
Owners: @AlfredoG87, @ebadiere, @Nana-EC, @hashgraph/hedera-smart-contracts

RPC API Batch 1 - Acceptance Test - Improvement (#1050)
  packages/server/tests/acceptance/rpc_batch1.spec.ts
Owners: @AlfredoG87, @ebadiere, @Nana-EC, @hashgraph/hedera-smart-contracts

Limit subscriptions for a single connection (#1047)
  .env.example
  docs/configuration.md
  packages/relay/src/index.ts
  packages/relay/src/lib/errors/JsonRpcError.ts
  packages/relay/src/lib/subscriptionController.ts
  packages/relay/tests/lib/subscriptionController.spec.ts
  packages/server/tests/acceptance/ws/subscribe.spec.ts
  packages/ws-server/src/ConnectionLimiter.ts
  packages/ws-server/src/webSocketServer.ts
Owners: @hashgraph/hedera-smart-contracts, @AlfredoG87, @ebadiere, @lukelee-sl, @Nana-EC, @georgi-l95, @Ivo-Yankov

.github/CODEOWNERS:

###################################
##### Global Protection Rule ######
###################################
# NOTE: This rule is overriden by the more specific rules below. This is the catch-all rule for all files not covered by the more specific rules below
*                                               @hashgraph/hedera-smart-contracts

#########################
##### Hedera Relay ######
#########################
/packages/relay/                                @AlfredoG87 @ebadiere @lukelee-sl @hashgraph/hedera-smart-contracts
/packages/server/                               @AlfredoG87 @ebadiere @Nana-EC @hashgraph/hedera-smart-contracts
/packages/ws-server/                            @AlfredoG87 @ebadiere @georgi-l95 @Ivo-Yankov @hashgraph/hedera-smart-contracts

###############################
##### Tools and Examples ######
###############################
/dapp-example/                                  @georgi-l95 @Ivo-Yankov @hashgraph/hedera-smart-contracts
/k6/                                            @AlfredoG87 @hashgraph/hedera-smart-contracts
/tools/                                         @georgi-l95 @Ivo-Yankov @hashgraph/hedera-smart-contracts
