Repository hashgraph/hedera-json-rpc-relay, changes with the owners that .github/CODEOWNERS names for each.
All owners: @hashgraph/hedera-smart-contracts, @AlfredoG87, @ebadiere, @lukelee-sl, @Nana-EC, @georgi-l95, @Ivo-Yankov, @hashgraph/release-engineering, @hashgraph/release-engineering-managers

Release charts for version v0.46.1
  charts/hedera-json-rpc-relay-v0.46.1.tgz
  charts/hedera-json-rpc-relay-websocket-v0.46.1.tgz
  charts/hedera-json-rpc-v0.46.1.tgz
  charts/index.yaml
Owners: @hashgraph/hedera-smart-contracts

Release charts for version v0.46.2
  charts/hedera-json-rpc-relay-v0.46.2.tgz
  charts/hedera-json-rpc-relay-websocket-v0.46.2.tgz
  charts/hedera-json-rpc-v0.46.2.tgz
  charts/index.yaml
Owners: @hashgraph/hedera-smart-contracts

Release charts for version v0.46.3
  charts/hedera-json-rpc-relay-v0.46.3.tgz
  charts/hedera-json-rpc-relay-websocket-v0.46.3.tgz
  charts/hedera-json-rpc-v0.46.3.tgz
  charts/index.yaml
Owners: @hashgraph/hedera-smart-contracts

Release charts for version v0.46.4
  charts/hedera-json-rpc-relay-v0.46.4.tgz
  charts/hedera-json-rpc-relay-websocket-v0.46.4.tgz
  charts/hedera-json-rpc-v0.46.4.tgz
  charts/index.yaml
Owners: @hashgraph/hedera-smart-contracts

Release charts for version v0.47.0
  charts/hedera-json-rpc-relay-v0.47.0.tgz
  charts/hedera-json-rpc-relay-websocket-v0.47.0.tgz
  charts/hedera-json-rpc-v0.47.0.tgz
  charts/index.yaml
Owners: @hashgraph/hedera-smart-contracts

Release charts for version v0.48.0
  charts/hedera-json-rpc-relay-v0.48.0.tgz
  charts/hedera-json-rpc-relay-websocket-v0.48.0.tgz
  charts/hedera-json-rpc-v0.48.0.tgz
  charts/index.yaml
Owners: @hashgraph/hedera-smart-contracts

Added and updated equivalence tests for internal calls
  packages/server/tests/acceptance/equivalence.spec.ts
  packages/server/tests/contracts/EquivalenceContract.json
  packages/server/tests/contracts/EquivalenceContract.sol
Owners: @AlfredoG87, @ebadiere, @Nana-EC, @hashgraph/hedera-smart-contracts

build(deps): [Snyk] Upgrade: react, react-dom (#2542)
  dapp-example/package-lock.json
  dapp-example/package.json
Owners: @georgi-l95, @Ivo-Yankov, @hashgraph/hedera-smart-contracts

Added and updated equivalence tests for internal calls
  packages/server/tests/acceptance/equivalence.spec.ts
Owners: @AlfredoG87, @ebadiere, @Nana-EC, @hashgraph/hedera-smart-contracts

fix: fixed callData mistakenly accepts call.value
  packages/relay/src/lib/eth.ts
Owners: @AlfredoG87, @ebadiere, @lukelee-sl, @hashgraph/hedera-smart-contracts

fix: fixed requests throw error when both data and input fields are present in transaction object
  packages/relay/src/lib/eth.ts
  packages/relay/tests/lib/eth/eth_call.spec.ts
  packages/relay/tests/lib/eth/eth_estimateGas.spec.ts
  packages/server/tests/acceptance/rpc_batch2.spec.ts
  packages/server/tests/acceptance/rpc_batch3.spec.ts
Owners: @AlfredoG87, @ebadiere, @lukelee-sl, @hashgraph/hedera-smart-contracts, @Nana-EC

feat: implemented eth_newFilter to WS server
  packages/ws-server/src/controllers/index.ts
  packages/ws-server/src/utils/constants.ts
  packages/ws-server/src/utils/utils.ts
Owners: @AlfredoG87, @ebadiere, @georgi-l95, @Ivo-Yankov, @hashgraph/hedera-smart-contracts

test: added acceptance tests for eth_newFilter
  packages/ws-server/tests/acceptance/newFilter.spec.ts
Owners: @AlfredoG87, @ebadiere, @georgi-l95, @Ivo-Yankov, @hashgraph/hedera-smart-contracts

fix: updated validateBlockRangeAndAddTimestampToParams for eth_newFilter
  packages/relay/src/lib/services/ethService/ethCommonService/ICommonService.ts
  packages/relay/src/lib/services/ethService/ethFilterService/index.ts
  packages/ws-server/tests/acceptance/newFilter.spec.ts
Owners: @AlfredoG87, @ebadiere, @lukelee-sl, @hashgraph/hedera-smart-contracts, @georgi-l95, @Ivo-Yankov

fix: chart release action
  .github/workflows/release-production.yml
Owners: @hashgraph/release-engineering, @hashgraph/release-engineering-managers, @AlfredoG87, @ebadiere, @Nana-EC, @hashgraph/hedera-smart-contracts

chore: pin helm chart action SHA
  .github/workflows/release-production.yml
Owners: @hashgraph/release-engineering, @hashgraph/release-engineering-managers, @AlfredoG87, @ebadiere, @Nana-EC, @hashgraph/hedera-smart-contracts

fix: update version bump script
  scripts/.bump-version.js
Owners: @hashgraph/hedera-smart-contracts

feat: Add precheck for blob transactions (#2540)
  packages/relay/src/lib/errors/JsonRpcError.ts
  packages/relay/src/lib/precheck.ts
  packages/relay/tests/helpers.ts
  packages/relay/tests/lib/eth/eth_sendRawTransaction.spec.ts
  packages/relay/tests/lib/precheck.spec.ts
  packages/server/tests/acceptance/rpc_batch3.spec.ts
Owners: @AlfredoG87, @ebadiere, @lukelee-sl, @hashgraph/hedera-smart-contracts, @Nana-EC

fix: Resolve issue with failing acceptance batch 1 test (#2546)
  package-lock.json
  packages/server/tests/acceptance/rpc_batch1.spec.ts
  packages/server/tests/helpers/utils.ts
Owners: @hashgraph/hedera-smart-contracts, @AlfredoG87, @ebadiere, @Nana-EC

feat: Hardhat Viem usage example.
  tools/hardhat-viem-example/.env.example
  tools/hardhat-viem-example/.gitignore
  tools/hardhat-viem-example/README.md
  tools/hardhat-viem-example/contracts/Greeter.sol
  tools/hardhat-viem-example/hardhat.config.js
  tools/hardhat-viem-example/package-lock.json
  tools/hardhat-viem-example/package.json
  tools/hardhat-viem-example/scripts/contractCall.js
  tools/hardhat-viem-example/scripts/contractViewCall.js
  tools/hardhat-viem-example/scripts/deployContract.js
  tools/hardhat-viem-example/scripts/showBalance.js
  tools/hardhat-viem-example/test/rpc.js
  tools/hardhat-viem-example/utils/clients.js
Owners: @georgi-l95, @Ivo-Yankov, @hashgraph/hedera-smart-contracts, @hashgraph/release-engineering, @hashgraph/release-engineering-managers, @AlfredoG87, @ebadiere, @Nana-EC

fix: upgrade @hashgraph/hedera-local from 2.23.0 to 2.24.0
  package-lock.json
  package.json
Owners: @hashgraph/hedera-smart-contracts

build(deps): [Snyk] Upgrade pnpm from 8.15.7 to 8.15.8 (#2538)
  packages/ws-server/package.json
Owners: @AlfredoG87, @ebadiere, @georgi-l95, @Ivo-Yankov, @hashgraph/hedera-smart-contracts

feat: Hardhat Viem usage example - remove keys of unknown origin.
  tools/hardhat-viem-example/.env.example
Owners: @georgi-l95, @Ivo-Yankov, @hashgraph/hedera-smart-contracts

feat: Hardhat Viem usage example - remove keys of unknown origin.
  tools/hardhat-viem-example/README.md
  tools/hardhat-viem-example/hardhat.config.js
  tools/hardhat-viem-example/package.json
  tools/hardhat-viem-example/utils/clients.js
Owners: @georgi-l95, @Ivo-Yankov, @hashgraph/hedera-smart-contracts

feat: Hardhat Viem usage example - remove keys of unknown origin.
  tools/hardhat-viem-example/.env.example
  tools/hardhat-viem-example/hardhat.config.js
Owners: @georgi-l95, @Ivo-Yankov, @hashgraph/hedera-smart-contracts

feat: Accept Readme change suggestion.
  tools/hardhat-viem-example/README.md
Owners: @georgi-l95, @Ivo-Yankov, @hashgraph/hedera-smart-contracts

fix: Updated package-lock.json
  package-lock.json
Owners: @hashgraph/hedera-smart-contracts

Fixes tests that were not being executed due to error
  packages/relay/src/lib/precheck.ts
  packages/relay/tests/lib/precheck.spec.ts
Owners: @AlfredoG87, @ebadiere, @lukelee-sl, @hashgraph/hedera-smart-contracts

Fixes formatting
  packages/relay/tests/lib/eth/eth-helpers.ts
Owners: @AlfredoG87, @ebadiere, @lukelee-sl, @hashgraph/hedera-smart-contracts

Refactors default transaction
  packages/relay/tests/lib/precheck.spec.ts
Owners: @AlfredoG87, @ebadiere, @lukelee-sl, @hashgraph/hedera-smart-contracts

Refactors precheck; adds JSDoc; removes unecessary let etc.
  packages/relay/src/lib/precheck.ts
Owners: @AlfredoG87, @ebadiere, @lukelee-sl, @hashgraph/hedera-smart-contracts

Removes console.log
  packages/relay/tests/lib/precheck.spec.ts
Owners: @AlfredoG87, @ebadiere, @lukelee-sl, @hashgraph/hedera-smart-contracts

Addresses PR comments
  packages/relay/src/lib/precheck.ts
  packages/relay/tests/lib/precheck.spec.ts
Owners: @AlfredoG87, @ebadiere, @lukelee-sl, @hashgraph/hedera-smart-contracts

fix: fixed requests throw error when both data and input fields are present in transaction object (#2551)
  packages/relay/src/lib/eth.ts
  packages/relay/tests/lib/eth/eth_call.spec.ts
  packages/relay/tests/lib/eth/eth_estimateGas.spec.ts
  packages/server/tests/acceptance/rpc_batch2.spec.ts
  packages/server/tests/acceptance/rpc_batch3.spec.ts
Owners: @AlfredoG87, @ebadiere, @lukelee-sl, @hashgraph/hedera-smart-contracts, @Nana-EC

feat: implemented eth_newFilter to WS server (#2553)
  packages/relay/src/lib/services/ethService/ethCommonService/ICommonService.ts
  packages/relay/src/lib/services/ethService/ethFilterService/index.ts
  packages/ws-server/src/controllers/index.ts
  packages/ws-server/src/utils/constants.ts
  packages/ws-server/src/utils/utils.ts
  packages/ws-server/tests/acceptance/newFilter.spec.ts
Owners: @AlfredoG87, @ebadiere, @lukelee-sl, @hashgraph/hedera-smart-contracts, @georgi-l95, @Ivo-Yankov

fix: Adding the node install as now the npm binary is not found.
  .github/workflows/release-automation.yml
Owners: @hashgraph/release-engineering, @hashgraph/release-engineering-managers, @AlfredoG87, @ebadiere, @Nana-EC, @hashgraph/hedera-smart-contracts

fix: Applied feedback for security.
  .github/workflows/release-automation.yml
Owners: @hashgraph/release-engineering, @hashgraph/release-engineering-managers, @AlfredoG87, @ebadiere, @Nana-EC, @hashgraph/hedera-smart-contracts

Improves variable check
  packages/relay/tests/lib/precheck.spec.ts
Owners: @AlfredoG87, @ebadiere, @lukelee-sl, @hashgraph/hedera-smart-contracts

fix: Adding the node install as now the npm binary is not found. (#2562)
  .github/workflows/release-automation.yml
Owners: @hashgraph/release-engineering, @hashgraph/release-engineering-managers, @AlfredoG87, @ebadiere, @Nana-EC, @hashgraph/hedera-smart-contracts

fix: Applied the Node.js install before the first npm ci call.
  .github/workflows/release-automation.yml
Owners: @hashgraph/release-engineering, @hashgraph/release-engineering-managers, @AlfredoG87, @ebadiere, @Nana-EC, @hashgraph/hedera-smart-contracts

.github/CODEOWNERS:

###################################
##### Global Protection Rule ######
###################################
# NOTE: This rule is overriden by the more specific rules below. This is the catch-all rule for all files not covered by the more specific rules below
*                                               @hashgraph/hedera-smart-contracts

#########################
##### Hedera Relay ######
#########################
/packages/relay/                                @AlfredoG87 @ebadiere @lukelee-sl @hashgraph/hedera-smart-contracts
/packages/server/                               @AlfredoG87 @ebadiere @Nana-EC @hashgraph/hedera-smart-contracts
/packages/ws-server/                            @AlfredoG87 @ebadiere @georgi-l95 @Ivo-Yankov @hashgraph/hedera-smart-contracts

###############################
##### Tools and Examples ######
###############################
/dapp-example/                                  @georgi-l95 @Ivo-Yankov @hashgraph/hedera-smart-contracts
/k6/                                            @AlfredoG87 @hashgraph/hedera-smart-contracts
/tools/                                         @georgi-l95 @Ivo-Yankov @hashgraph/hedera-smart-contracts

########################
#####  Core Files  ######
#########################

# NOTE: Must be placed last to ensure enforcement over all other rules

# Protection Rules for Github Configuration Files and Actions Workflows
/.github/                                       @hashgraph/release-engineering @hashgraph/release-engineering-managers
/.github/workflows/                             @hashgraph/release-engineering @hashgraph/release-engineering-managers @AlfredoG87 @ebadiere @Nana-EC @hashgraph/hedera-smart-contracts

# Self-protection for root CODEOWNERS files (this file should not exist and should definitely require approval)
/CODEOWNERS                                     @hashgraph/release-engineering @hashgraph/release-engineering-managers

# Protect the repository root files
/README.md                                      @hashgraph/release-engineering @hashgraph/release-engineering-managers @AlfredoG87 @ebadiere @Nana-EC @hashgraph/hedera-smart-contracts
**/LICENSE                                      @hashgraph/release-engineering @hashgraph/release-engineering-managers

# Git Ignore definitions
**/.gitignore                                   @hashgraph/release-engineering @hashgraph/release-engineering-managers @AlfredoG87 @ebadiere @Nana-EC @hashgraph/hedera-smart-contracts
**/.gitignore.*                                 @hashgraph/release-engineering @hashgraph/release-engineering-managers @AlfredoG87 @ebadiere @Nana-EC @hashgraph/hedera-smart-contracts
